<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about">About</a>
      <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="/projects">Projects</a>
    </nav>

    <p>
      <a href="mailto:pz1249@gmail.com">pz1249@gmail.com</a><br>
      <a href="https://github.com/zhangp124">GitHub</a><br>
      <a href="https://www.linkedin.com/in/peter-zhang-4a684023b">LinkedIn</a>
    </p>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
